<h3 *ngIf="listName" class="pw-label pw-m-0 pw-mb-3">{{listName}}</h3>
<div class="pw-center-horizontal">
  <fa-icon
    class="pw-mx-3 pw-center-horizontal"
    [class.disabled]="!canSelectPrevious"
    [icon]="chevronLeft"
    (click)="canSelectPrevious && selectPreviousItem()">
  </fa-icon>
  <span>{{selectedItem}}</span>
  <fa-icon
    class="pw-mx-3 pw-center-horizontal"
    [class.disabled]="!canSelectNext"
    [icon]="chevronRight"
    (click)="canSelectNext && selectNextItem()">
  </fa-icon>
</div>
