<div *ngIf="(!loading && !isValid) || serverError" class="errors pw-column-container-center pw-bottom-vertical">
  <span *ngIf="form.get('login').hasError('required')">Login is required</span>
  <span *ngIf="form.get('login').hasError('email')">Invalid Login</span>
  <span *ngIf="form.get('passwordGroup').get('password').hasError('required')">Password is required</span>
  <span *ngIf="form.get('passwordGroup').get('password').hasError('strongPassword')">Password is too weak</span>
  <span *ngIf="form.get('passwordGroup').hasError('differentPasswords')">Passwords do not match</span>
  <span *ngIf="form.get('creationCode').hasError('required')">Creation Code is required</span>
  <span *ngIf="serverError">{{serverError}}</span>
</div>
<div *ngIf="success" class="success pw-column-container-center pw-center-vertical">
  <span>Account Successfully Created</span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="pw-column-container-center pw-mb-5">
    <label class="pw-label pw-mb-1" for="login">Login</label>
    <input placeholder="E-mail" (keyup.enter)="!loading && onSubmit()" [class.invalid]="isLoginInvalid" class="pw-input"
           formControlName="login" type="email" id="login" autocomplete="off">
  </div>
  <div formGroupName="passwordGroup">
    <div class="pw-column-container-center  pw-mb-5">
      <label class="pw-label pw-mb-1" for="password">Password</label>
      <input (keyup.enter)="!loading && isValid && onSubmit()" [class.invalid]="isPasswordInvalid" class="pw-input"
             formControlName="password" type="password" id="password" autocomplete="off">
    </div>
    <div class="pw-column-container-center  pw-mb-5">
      <label class="pw-label pw-mb-1" for="repassword">Re-Password</label>
      <input (keyup.enter)="!loading && isValid && onSubmit()" class="pw-input" [class.invalid]="isRePasswordInvalid"
             formControlName="repassword" type="password" id="repassword" autocomplete="off">
    </div>
  </div>
  <div class="pw-column-container-center  pw-mb-5">
    <label class="pw-label pw-mb-1" for="creationCode">
      Creation Code
      <pw-info-icon description="Contact the administrator for more information"></pw-info-icon>
    </label>

    <input (keyup.enter)="!loading && isValid && onSubmit()" maxlength="8" [class.invalid]="isCreationCodeInvalid"
           class="pw-input" formControlName="creationCode" type="text" id="creationCode" autocomplete="off">
  </div>
  <pw-button (click)="isSubmitButtonClickable && onSubmit()"
             [disabled]="isSubmitButtonDisabled"
             [spinLeft]="loading"
             [spinRight]="loading"
             [faIconLeft]="loading && faIcon.cog"
             [faIconRight]="loading &&  faIcon.cog">Register
  </pw-button>

  <pw-button class="pw-mt-2" routerLink="/login" [faIconLeft]="faIcon.arrowLeft" [disabled]="loading">Go to Login
  </pw-button>
</form>
