<pw-look-picker></pw-look-picker>
<div class="pw-row-container-center form-container pw-mt-8">
  <div *ngIf="(!loading && !isValid) || serverError" class="errors pw-column-container-center pw-bottom-vertical">
    <span *ngIf="form.get('nickname').hasError('required')">Nickname is required</span>
    <span *ngIf="form.get('nickname').hasError('minlength')">Nickname too short</span>
    <span *ngIf="serverError">{{serverError}}</span>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="pw-column-container-center pw-mb-5">
      <label class="pw-label pw-mb-1" for="nickname">Nickname</label>
      <input (keyup.enter)="!loading && onSubmit()" [class.invalid]="isNicknameValid" class="pw-input"
             formControlName="nickname" type="email" id="nickname" autocomplete="off" maxlength="16">
    </div>
    <pw-button (click)="!loading && isValid && onSubmit()"
               [disabled]="!isValid || loading"
               [spinLeft]="loading"
               [spinRight]="loading"
               [faIconLeft]="loading && faIcon.cog"
               [faIconRight]="loading && faIcon.cog">Log in
    </pw-button>
  </form>
</div>
