<div class="pw-column-container pw-p-5">
  <h2>Body</h2>

  <pw-arrow-list-selector
    listName="Sex"
    [list]="newCharacterStructure.sex" (selectedItemEmitter)="selectSex($event)">
  </pw-arrow-list-selector>

  <pw-arrow-list-selector
    listName="Skin Color"
    [list]="newCharacterStructure.skin" (selectedItemEmitter)="selectSkin($event)">
  </pw-arrow-list-selector>

  <pw-arrow-list-selector
    listName="Eyes"
    [list]="newCharacterStructure.eyes" (selectedItemEmitter)="selectEyes($event)">
  </pw-arrow-list-selector>

  <pw-arrow-list-selector
    listName="Nose"
    [list]="newCharacterStructure.nose" (selectedItemEmitter)="selectNose($event)">
  </pw-arrow-list-selector>

  <pw-arrow-list-selector
    listName="Ears"
    [list]="newCharacterStructure.ears" (selectedItemEmitter)="selectEars($event)">
  </pw-arrow-list-selector>

</div>

<div class="pw-column-container">
  <pw-model-viewer></pw-model-viewer>
</div>
