@import "~src/styles/variables";

:host {
  display: flex;
  width: 100%;

  h2 {
    text-align: center;
  }

  .pw-column-container {
    border: 2px $borderYellow solid;
    border-radius: $borderRadius;

    pw-arrow-list-selector:not(:first-child) {
      margin-top: 12px;

    }
  }
}
