@import "~src/styles/variables";
@import "~src/styles/mixins";


:host {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 256px;
  min-height: 256px;

  img {
    position: absolute;
  }

  fa-icon {
    @include fontYellow;
    height: 254px;
    width: 254px;
    font-size: 120px;
    background-color: $gameBackground;
    margin: 1px;
    border-radius: 6px;
  }
}
