@import "~src/styles/mixins";

:host {
  display: flex;
  position: relative;
  width: 64px;
  height: 64px;

  &.active {
    box-shadow: $borderBoxShadowIconActive;
    border-radius: $borderRadius;
  }
  &.faded {
    filter: saturate(0.2);
  }
}
img {
  &.disabled {
    @include cursorNotAllowed;
    filter: saturate(0);
  }
  &.faded {
    filter: saturate(0);
  }
}
span {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 80%;
}
