@import "~src/styles/variables";

:host {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: $tooltipBackgroundColor;
  border-radius: $borderRadius;
  max-width: 160px;
  min-height: 26px;
  color: $inputTextColor;
  text-align: center;
  font-size: $tooltipFontSize;

  .pw-tooltip-arrow {
    position: absolute;

    &.north {
      bottom: -$tooltipArrowSize;
      left: calc(50% - #{$tooltipArrowSize});
      border-left: $tooltipArrowSize solid transparent;
      border-right: $tooltipArrowSize solid transparent;
      border-top: $tooltipArrowSize solid $tooltipBackgroundColor;
    }

    &.south {
      top: -$tooltipArrowSize;
      left: calc(50% - #{$tooltipArrowSize});
      border-left: $tooltipArrowSize solid transparent;
      border-right: $tooltipArrowSize solid transparent;
      border-bottom: $tooltipArrowSize solid $tooltipBackgroundColor;
    }

    &.east {
      left: -$tooltipArrowSize;
      top: calc(50% - #{$tooltipArrowSize});
      border-top: $tooltipArrowSize solid transparent;
      border-bottom: $tooltipArrowSize solid transparent;
      border-right: $tooltipArrowSize solid $tooltipBackgroundColor;
    }

    &.west {
      right: -$tooltipArrowSize;
      top: calc(50% - #{$tooltipArrowSize});
      border-top: $tooltipArrowSize solid transparent;
      border-bottom: $tooltipArrowSize solid transparent;
      border-left: $tooltipArrowSize solid $tooltipBackgroundColor;
    }

  }
}
