@import "variables";

@mixin wowFont {
  font-family: wowfont, serif;
}

@mixin fontYellow {
  color: $yellow;
  text-shadow: 1px -1px $textShadowColor;
}

@mixin fontError {
  color: $redError;
  text-shadow: 1px -1px $textShadowColor;
}

@mixin fontSuccess {
  color: $greenSuccess;
  text-shadow: 1px -1px $textShadowColor;
}

@mixin cursorNotAllowed {
  cursor: not-allowed;
}

@mixin cursorPointer {
  cursor: pointer;
}

@mixin absoluteBlock($spanNumbers:1) {
  position: absolute;
  width: 100%;
  min-height: #{$spanNumbers*20}px;
  top: -#{$spanNumbers*20+15}px;
}
