// Colors:
$yellow: rgb(255, 199, 0);
$redError: #ff7f76;
$greenSuccess: #a3ff85;
$textShadowColor: rgb(52, 52, 52);
$yellowLighter: rgb(255, 218, 9);
$hordeRed: #710002;
$allianceBlue: #000485;
$aliceBlue: aliceblue;

// Input Colors:
$inputBorderColor: rgb(186, 183, 186);
$inputBackgroundColor: rgba(78, 78, 78, 0.61);
$inputDisabledBackgroundColor: rgba(38, 35, 35, 0.92);
$inputTextColor: aliceblue;
$inputPlaceholderColor: rgba(239, 240, 255, 0.38);

// Button Colors:
$buttonBackgroundColor: rgb(127, 13, 9);
$buttonBorderColor: black;
$buttonActiveBackgroundColor: rgb(69, 12, 9);

//ArrowList colors:
$arrowListSelectBackground: #292929;
$arrowListBorderColor: black;
$arrowListHeaderColor: #9E9E9E;

// Body
$bodyPaddingTop: 100px;

// Border
$borderYellow: rgb(255, 199, 0);
$borderWeight: 2px;
$borderRadiusSmall: 6px;
$borderRadius: 10px;
$borderRadiusBig: 14px;
$borderBoxShadow: 0 0 8px 4px aliceblue;
$borderBoxShadowIconActive: 0 0 8px 4px #82b9db;

// App
$appLoginBackgroundColor: rgba(0, 0, 0, 0.38);
$appCharacterBackgroundColor: rgba(92, 86, 84, 0.82);
$gameBackground: #3e3532;

// tooltip
$tooltipBackgroundColor: rgb(11, 20, 50);
$tooltipArrowSize: 11px;
$tooltipFontSize: 11px;

// Game navbar
$gameNavBarBackground: rgba(115, 185, 239, 0.4);
