// Colors:
$yellow: rgb(255, 199, 0);

$textShadowColor: rgb(52, 52, 52);

// Input Colors:
$inputBorderColor: rgb(186, 183, 186);
$inputBackgroundColor: rgba(78, 78, 78, 0.61);
$inputDisabledBackgroundColor: rgba(38, 35, 35, 0.92);
$inputTextColor: rgb(255, 255, 255);

// Button Colors:
$buttonBackgroundColor: rgb(127, 13, 9);
$buttonBorderColor: rgb(56, 55, 54);
$buttonActiveBackgroundColor: rgb(69, 12, 9);
