@import "~src/styles/variables";

:host {
  display: flex;
  width: 1366px;
  height: 766px;
  margin: auto;
  position: relative;
  user-select: none;

  border: $borderWeight solid $borderYellow;
  border-radius: $borderRadius;
  box-shadow: $borderBoxShadow;
  background-color: $appLoginBackgroundColor;
}
