@import "~src/styles/variables";

:host {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $tooltipBackgroundColor;
  border-radius: $borderRadius;
  border: $borderWeight solid $borderYellow;
  color: $yellow;
  $cogSizeBig: 120;
  $cogSizeMedium: 90;
  $cogSizeSmall: 60;
  $containerSize: 200;
  .pw-cog-container {
    position: relative;
    width: #{$containerSize}px;
    height: #{$containerSize}px;
    .pw-cog {
      position: absolute;
      &.big {
        font-size: #{$cogSizeBig}px;
        top: 0;
        right: 0;
        ::ng-deep {
          .fa-spin {
            animation: fa-spin 4s infinite linear;
          }
        }
      }
      &.medium {
        font-size: #{$cogSizeMedium}px;
        top: #{$cogSizeBig / 2}px;
        right: #{$cogSizeBig - 10}px;
        ::ng-deep {
          .fa-spin {
            animation: fa-spin 3s infinite linear;
          }
        }
      }
      &.small {
        font-size: #{$cogSizeSmall}px;
        top: #{$cogSizeBig - 5}px;
        right: #{$cogSizeBig / 2}px;
        ::ng-deep {
          .fa-spin {
            animation: fa-spin 2s infinite linear;
          }
        }
      }
    }
  }
}
