@import "styles/mixins";
@import "styles/variables";
@import "styles/layout";
body {
  @include wowFont;
  background: url('/assets/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

label.pw-label {
  @include wowFontYellow;
  font-weight: bold;
}
pw-button.pw-btn-font {
  @include wowFontYellow;
  font-weight: normal;
}
input.pw-input {
  border-radius: 8px;
  border: 1px solid $inputBorderColor;
  box-sizing: border-box;
  outline: none;
  padding: 4px 8px;
  font-family: inherit;
  background-color: $inputBackgroundColor;
  color: $inputTextColor;
  &:disabled {
    @include cursorNotAllowed;
    background-color: $inputDisabledBackgroundColor;
  }
}
@font-face {
  font-family: wowfont;
  src: url('/assets/wowfont.ttf');
}
