@import "~src/styles/variables";
@import "~src/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: $buttonBackgroundColor;
  padding: 2px 8px;
  border: 2px solid $buttonBorderColor;
  user-select: none;
  outline: none;

  &:active {
    background-color: $buttonActiveBackgroundColor;
  }

  &:hover {
    @include cursorPointer;
  }

  &.disabled, &.loading {
    background-color: $buttonActiveBackgroundColor;
    @include cursorNotAllowed
  }

  &.pw-btn-font {
    @include fontYellow;
    font-weight: normal;
  }

  fa-icon {
    position: absolute;

    &.fa-left {
      align-self: flex-start;
    }

    &.fa-right {
      align-self: flex-end;
    }
  }

}
