@import "~src/styles/variables";
@import "~src/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: $buttonBackgroundColor;
  padding: 3px 8px;
  border: 2px solid $buttonBorderColor;
  user-select: none;
  outline: none;

  @include fontYellow;
  font-weight: normal;

  &:hover {
    @include cursorPointer;
  }

  &.disabled, &.loading {
    background-color: $buttonActiveBackgroundColor;
    color: $yellowLighter;
    @include cursorNotAllowed
  }

  &:active {
    background-color: $buttonActiveBackgroundColor;
    color: $yellowLighter;
  }

  fa-icon {
    position: absolute;

    &.fa-left {
      align-self: flex-start;
    }

    &.fa-right {
      align-self: flex-end;
    }
  }

}
